@model EDalolatnoma.MVC.Models.Well

@{
    ViewData["Title"] =  "Удалить скважины";
}




<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-exclamation-circle"></i> Вы уверены, что хотите удалить скважины   "@Html.DisplayFor(model => model.WellName)"?</h3>
                <div class="card-tools">
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="card-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.WellName)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.WellName)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.Field.FieldName)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.Field.FieldName)
                        </dd>
                        <dt class="col-sm-12">
                            @Html.DisplayNameFor(model => model.WellStatus_id)
                        </dt>
                        <dd class="col-sm-12">
                            @Html.DisplayFor(model => model.WellStatus.StatusName)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        @Html.AntiForgeryToken()
                        <div class="pull-right">
                            <input type="submit" value="Удалить" class="btn btn-danger" /> |
                            <a asp-action="Index">Отменить</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>